.product {
  width: 300px;
  height: 500px;
  border: 1px solid #95a0a7;
  position: relative;
  border-radius: 8px;
}
.product img {
  width: 286px;
  height: 286px;
  margin: 7px;
  border-radius: 10px;
}
.product-name {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.0015em;
}
.product-info {
  margin-left: 14px;
}
.price {
  margin-top: 10px;
  margin-bottom: 45px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.0015em;
}
.btn-cart {
  width: 100%;
  background: #ffe0b3;
  border: 1px solid #95a0a7;
  border-radius: 0px 0px 8px 8px;
  position: absolute;
  bottom: 0;
}
.btn-cart:hover {
  background-color: rgb(243, 184, 19);
}
.h6 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.004em;
  margin-bottom: -20px;
}