.header{
    height: 80px;
    width: 100%;
    background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav.header  a{
    text-decoration: none;
    color:  white;
    margin-right: 30px;
}nav.header a:hover{
    color: rgb(223, 149, 53);
}
.header img{
    margin-left: 65px;
}